*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 'Spartan' sans-serif;
}
h1{
  font-size: 50px;
  color: #222;
  line-height: 64px;
}

h2{
  font-size: 46px;
  color: #222;
  line-height: 54px;
}

h4{
  line-height: ;
  font-size: 20px;
  color: #222;
}

h6{
  font-size: 12px;
  font-weight: 700;
  font-family: sans-serif;
}

p{
  font-size: 16px;
  color: #465b52;
  margin: 12px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1{
  margin: 40px 0;
}

button.normal{
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  outline: none;
  transition: 0,2s ;
}

button.white{
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  cursor: pointer;
  outline: none;
  transition: 0,2s ;
}

body{
  width: 100%;
}


/* header-start */ 
#header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background: #E3E6F3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}
#navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li{
  list-style: none;
  padding: 0 20px;
}

#navbar li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
}
/* home page */
#hero{
  display: flex;
  min-height: 70vh;


}
.hero-image{
    width: 65%;
    background-image: url("asset/images/hero.jpg") ;
    min-height: 100vh;

}

.hero-contents{
width: 35%;
background-color: aqua;
display: grid;
padding: 30px;
}

 #features .fe-box{
  width: 180px;
text-align: center;
padding: 25px 25px;
box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.3);
border: 1px solid;
border-radius: 7px;
margin: 15px 0;
 }

 #features .fe-box:hover{
  box-shadow: 10px 15px 55px rgba(70, 62, 221, 0.1);
 }

 #features .fe-box h6{
  display: inline-block;
  color:#088178 ;
  background-color: #fddde4;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 5px;
 }

 #features .fe-box img{
  width: 100px;
  margin: 10px;
 }
 #features{
  display: flex;
  align-items: center;
  justify-content: space-between;
 }

 #features .fe-box:nth-child(2) h6{
  background-color: #7da3a1;
 }
 #features .fe-box:nth-child(3) h6{
  background-color:aqua;
 }
 #features .fe-box:nth-child(4) h6{
  background-color:aquamarine;
 }
 #features .fe-box:nth-child(5) h6{
  background-color:rgb(187, 187, 75);
 }
 #features .fe-box:nth-child(6) h6{
  background-color: #2fc785;
 }

 #product-1{
  text-align: center;
 }

 #product-1 .prod{
  width: 25%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 20px o;
  transition: 0.3s ease;

 }
 #product-1 .prod img{
  width: 100%;
  border-radius: 20px;
 }
 #product-1 .prod:hover{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.09);
 }
  
 #product-1 .prod-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap
 }

 #banner{
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url(asset/images/banner1.jpg);
  height: 40vh;
  width: 100%;
  background-size: cover;
  background-position: center;
 }
 #banner h4{
  font-size: 22px;
  color: #c41717;
 }
 #banner h2{
  font-size: ;
  color: #fff;
  padding: 10px 0;  
 } 

 #banner h2 span{
  color: #c41717;
 } 

 button.normal:hover{
  background-color: #088178;
  color: #fff;
 }

 #sm-banner-2{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
 }

 #sm-banner{
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
 }
#sm-banner .banner-box{
  display: flex;
  flex-direction:column;
  align-items: flex-start;
  justify-content: center;
  background-image: url(asset/images/spotlight01.jpg);
  height: 50vh;
  min-width: 580px;
  background-size: cover;
  background-position: center;
  padding: 30px;
}

#sm-banner-2 .banner-box-a{
  display: flex;
  flex-direction:column;
  align-items: flex-start;
  justify-content: center;
  background-image: url(asset/images/spotlight01.jpg);
  height: 40vh;
  min-width: 380px;
  background-size: cover;
  background-position: center;
  padding: 30px;
}

#sm-banner h4{
  color: #fff;
  font-size: 20px;
  font-weight: 300px;
}

#sm-banner h2{
  color: #fff;
  font-size: 28px;
  font-weight: 800px;
}

#sm-banner span{
  color: #fff;
  font-size: 14px;
  font-weight: 500px;
  padding: 15px;
}

#sm-banner .banner-box:hover button{
  background: #088178;
  border: 1px #088178;
}
#sm-banner .banner-box-2{
  background-image: url(asset/images/hero-bg.jpg);
}

#sm-banner-2 .banner-box-a-2{
  background-image: url(asset/images/06.jpg);
}

#sm-banner-2 .banner-box-a-3{
  background-image: url(asset/images/06.jpg);
}


/* shop page */

/* single product */

/* blog page */

/* about page*/


/* media query */
@media screen and (max-width: 736px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
}
}